* {
    font-size: unset;

}

#right-sidebar {
    right: 0;
    width: 25%;
    top: 6vh;
}
#left-sidebar {
    top: 0%;
    width: 10vw;
}
#topbar {
    left: 10%
}
#topbar.w3-bar {
    width: 90vw;
    height: 6vh;
}

.w3-main#canvas {
    height: 89vh;
    margin-top: 6vh;
    margin-left: 10%;
}
/* [data-loading] { */
/*   display: none; */
/* } */

.htmx-indicator{
    display:none;
}
.htmx-request#indicator{
    display:inline;
}
