<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Deno+Hono+HTMX</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://unpkg.com/htmx.org@1.9.5"
        integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/class-tools.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <!-- <script src="https://unpkg.com/htmx.org/dist/ext/loading-states.js"></script> -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="./css/style.css" rel="stylesheet">
</head>

<body class="">
    <script>
        function w3_open() {
            // document.getElementById("right-sidebar").style.display = "block";
            let sidebar = document.getElementById("right-sidebar");
            sidebar.classList.remove("w3-hide");

            // INFO: animation recalc
            let main = document.body.querySelector(".w3-main");
            let view = document.body.querySelector(".ol-viewport");
            // main.classList.remove("w3-animate-left")
            main.offsetWidth
            // main.style.paddingRight = "30%";
            // main.style.width = "70%";
            view.offsetWidth
            // view.style.width = "70%";
            // main.classList.add("w3-animate-right")
            // main.classList.add("w3-animate-opacity")
        }

        function w3_close() {
            // document.getElementById("topbarId").style.marginLeft = "0px";
            // let input_form = document.getElementById("search-input");
            let element = document.getElementById("right-sidebar");
            element.classList.toggle("w3-hide");
            // input_form.value = null;
            let main = document.body.querySelector(".w3-main");
            let view = document.body.querySelector(".ol-viewport");
            // main.style.paddingRight = "0%";
            // main.classList.remove("w3-animate-right")
            main.offsetWidth
            // main.style.width = "100%";
            view.offsetWidth
            // view.style.width = "100%";
            // main.classList.add("w3-animate-left")
            // main.classList.add("w3-animate-opacity")
            // document.getElementById("left-sidebar").style.display = "none";
        }

        function toggle_search(flag) {
            let search_form = document.getElementById("search-form");
            if (flag) {
                // console.log("available");
                // search_form.classList.remove("disabled");
                search_form.classList.remove("w3-disabled");
            }
            else {
                // console.log("not available");
                // search_form.classList.add("w3-hide");
                // search_form.classList.add("disabled");
                search_form.classList.add("w3-disabled");
            }
        }

        htmx.on("htmx:sseMessage", (mes) => {
            switch (mes.detail.type) {
                case "MeiliStatus":
                    if (mes.detail.data == "available") {
                        toggle_search(true);
                    }
                    else {
                        toggle_search(false)
                    }
                    break;

                default: break;
            }
        });
    </script>
    <!-- TODO: refactor this shit and -->

    <div class="w3-gray w3-top w3-bar w3-tiny" id="topbarId" hx-get="/topbar" hx-trigger="load">
    </div>

    <div class="w3-sidebar w3-container w3-animate-right w3-hide w3-pale-blue w3-border-left" id="right-sidebar"
        style="right:0;width: 30%;">
        <div hx-on:click="w3_close()" class="w3-button w3-display-topleft w3-container w3-hover-red">&times;</div>
        <div hx-swap-oob=true id="search-result" class="w3-panel w3-margin-top"></div>
    </div>

    <div id="canvas" class="w3-row-padding w3-main" style="margin-top:4%;margin-left: 0%;height: 94vh;">
        <!-- hx-trigger="load" hx-get="/svg" hx-swap="innerHTML"> -->
        <!-- INFO: central content -->
        <!-- <div class="w3-col w3-center" style="height:100%;" hx-trigger="load" hx-get="/content" hx-swap="innerHTML"> -->
    </div>


    <script src="/public/map.js" type=module></script>
</body>

</html>
