<div class="w3-row">
  <div class="w3-col m3 w3-bar-item">
    <a href="#" class="w3-button ">Home</a>
    <div class="w3-tag">
      node
    </div>
  </div>
  <div class="w3-col m5 w3-bar-item w3-center ">
    <p class="">m6</p>
  </div>
  <div class="w3-col m1 w3-bar-item w3-padding-16">
    <div class="w3-center " hx-get="/search/init" hx-trigger="load">
    </div>
  </div>
  <div class=" w3-col w3-bar-item m3" hx-get="/search/form" hx-trigger="load">
  </div>
</div>
<!-- FIXME: buttons introduces 16px padding -->
